<h1>{{ title | uppercase }}</h1>

<br>

<input [(ngModel)]="added.date"
          type="date"
          placeholder="date"
        >
<select [(ngModel)]="added.classification_id" (change)="onChange(added.classification_id)">
  <option *ngFor="let classification of classifications"
      [ngValue]="classification.id">
      {{classification.name}}
  </option>
</select>
<select [(ngModel)]="added.sub_id">
  <option *ngFor="let purpose of purposes"
      [ngValue]="purpose.sub_id">
      {{purpose.name}}
  </option>
</select>
<input [(ngModel)]="added.ammount"
          type="number"
          placeholder="ammount"
        >
<input [(ngModel)]="added.credit"
          type="checkbox"
          [checked]="added.credit"
        >
<button (click)="onAdd()">Add</button>

<br>

<ul class="expenses">
    <li *ngFor="let expense of expenses" [class.selected]="expense === selected" (click)="onSelect(expense)"> 
        <span class="badge">{{expense.date}}</span> {{expense.ammount}}
    </li>
</ul>

<br>

<div *ngIf="selected">
  <h2>Details</h2>
  <div>
    <label>date:
      <input [(ngModel)]="selected.date"
              type="date"
              placeholder="date"
            >
    </label>
  </div>
  <div>
    <label>c_id:
      <select [(ngModel)]="selected.purpose.classification.id" (change)="onChange_update(selected.purpose.classification.id)">
        <option *ngFor="let classification of classifications"
            [ngValue]="classification.id">
            {{classification.name}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>sub_id:
      <select [(ngModel)]="selected.purpose.sub_id">
        <option *ngFor="let purpose of purposes_update"
            [ngValue]="purpose.sub_id">
            {{purpose.name}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>ammount:
      <input [(ngModel)]="selected.ammount"
        type="number"
        placeholder="ammount"
        (keydown.enter)="onUpdate(selected)"
      >
    </label>
  </div>
  <div>
    <label>credit: 
      <input [(ngModel)]="selected.credit"
      type="checkbox"
      [checked]="selected.credit"
      >
    </label>
  </div>
  <button (click)="onUpdate(selected)">Update</button>
  <button (click)="onDelete(selected)">Delete</button>
</div>


