<h1>{{ title | uppercase }}</h1>

<br>

<form #expenseCheck="ngForm" class="inputCheck">
  <input [(ngModel)]="added.date"
            type="date"
            class="input_date"
            name="input_expense_date"
            placeholder="date"
            #inputExpenseInfo="ngModel"
            required
          >
  <select [(ngModel)]="added.classification_id"
            class="input_select"
            name="input_expense_classification_id"
            #inputExpenseInfo="ngModel"
            required
            (change)="onChange(added.classification_id)"
            >
    <option *ngFor="let classification of classifications"
        [ngValue]="classification.id">
        {{classification.name}}
    </option>
  </select>
  <select [(ngModel)]="added.sub_id"
            class="input_select"
            name="input_expense_sub_id"
            #inputExpenseInfo="ngModel"
            required
            >
    <option *ngFor="let purpose of purposes"
        [ngValue]="purpose.sub_id">
        {{purpose.name}}
    </option>
  </select>
  <input [(ngModel)]="added.ammount"
            type="number"
            class="input_number"
            name="input_expense_ammount"
            placeholder="ammount"
            #inputExpenseInfo="ngModel"
            required
          >
  <input [(ngModel)]="added.credit"
            type="checkbox"
            class="input_checkbox"
            name="input_expense_credit"
            [checked]="added.credit"
          >
  <input type="button" 
          class="input_button"
          name="input_ok"
          value="Add"
          (click)="onAdd()" 
          [disabled]="expenseCheck.invalid"
        >
</form>

<br>

<ul class="expenses">
    <li *ngFor="let expense of expenses" [class.selected]="expense === selected" (click)="onSelect(expense)"> 
        <span class="badge">{{expense.date}}</span> {{expense.ammount}}
    </li>
</ul>

<br>

<div *ngIf="selected">
  <h2>Details</h2>
  <div>
    <label>date:
      <input [(ngModel)]="selected.date"
              type="date"
              placeholder="date"
            >
    </label>
  </div>
  <div>
    <label>c_id:
      <select [(ngModel)]="selected.classification_id" (change)="onChange_update(selected.classification_id)">
        <option *ngFor="let classification of classifications"
            [ngValue]="classification.id">
            {{classification.name}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>sub_id:
      <select [(ngModel)]="selected.sub_id">
        <option *ngFor="let purpose of purposes_update"
            [ngValue]="purpose.sub_id">
            {{purpose.name}}
        </option>
      </select>
    </label>
  </div>
  <div>
    <label>ammount:
      <input [(ngModel)]="selected.ammount"
        type="number"
        placeholder="ammount"
        (keydown.enter)="onUpdate(selected)"
      >
    </label>
  </div>
  <div>
    <label>credit: 
      <input [(ngModel)]="selected.credit"
      type="checkbox"
      [checked]="selected.credit"
      >
    </label>
  </div>
  <button (click)="onUpdate(selected)">Update</button>
  <button (click)="onDelete(selected)">Delete</button>
</div>


