{% extends 'base.html' %}
{% load staticfiles %}


{% block header %}

  <title>{{ title }}</title>
  <h1>■{{ title }}</h1>

{% endblock header %}


{% block detail %}

  {% for model in models %}
    {% if master_type == 'classification' %}
      <p>　・<a href="/master/{{ master_type }}/maintenance/{{ model.c_id }}">{{ model.c_id }}：{{ model.c_name }}</a></p>
    {% elif master_type == 'purpose' %}
      <p>　・<a href="/master/{{ master_type }}/maintenance/{{ model.p_id }}">{{ model.p_id }}：{{ model.p_name }}</a></p>
    {% endif %}
  {% endfor %}

{% endblock detail %}


{% block return %}

  <br>
  <p>　<a href="/master/{{ master_type }}">戻る</a></p>

{% endblock return %}
